.aiText sapn {}

/* .ai-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.ai-boxes .bo {
    width: 49%;
    background-color: red;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #FFF;
    background: #1B1B1B;
} */