@media (min-width: 869px) {
    .logistic-top {
        background-image: url('../../../assest/web-icons/Logistic/image\ 24812.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #e8cb8066;
        height: 90vh;
        padding-top: 10%;
    }
}

@media (max-width: 869px) {
    .logistic-top {
        background-image: url('../../../assest/web-icons/Logistic/image\ 24812.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #e8cb8066;
        /* height: 90vh; */
    }
}