/* .accordion{
    width: auto;
} */
.main-text-service .active-li{
    color: white;
    opacity: 1;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1%;
    margin-bottom: 2%;
}
.howWorks{
    margin-top:5%;
    margin-bottom: 5%;
}
.margin5{
    margin-top: 8%;
}