.bar {
    height: .3em;
    width: 30em;
    border-radius: 10px;
    background: transparent;
    box-shadow: inset 0px 0px 8px rgba(50, 50, 50, 1);
    overflow: hidden;
    padding: 5px;
}

@keyframes load {
    0% {
        width: 0%;
    }

    50% {
        width: 100%;
    }

    100% {
        width: 0%;
        float: right;
    }
}