/* .AI {
    margin-right: 1%;
} */
.AI img{
    border-radius: 50px;
    /* mix-blend-mode:multiply; */
}
.cam-sec{
    position: relative;
    max-height: max-content;
}
.vr-cam{
    position: absolute;
    top: 55%;
    left: 25%;
}
.gm{}
/* .aiText{
    
}
.aiText span{
    font-size: 40rem;
    color: white;
    font-weight: 800;
    mix-blend-mode: color-burn;
}
.aiText {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  
  .video-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: overlay;
  } */

  .aiText{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .aiText video{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .aiText span{
    /* position: absolute;
    top: 0;
    left: 0; */
    z-index: 1;
    width: 100%;
    height: 100%;
    background: black;
    font-size: 20rem;
    mix-blend-mode: screen !important;
    font-weight: 500;
  }