/* .container {
    position: relative;
  } */
  
  .toggle-checkbox {
    display: none;
  }
  
  .toggle-label {
    width: 60px;
    height: 20px;
    background-color: #999;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .toggle-label:before {
    content: '';
    position: absolute;
    top: -5px;
    left: 0px;
    width: 32px;
    height: 32px;
    /* background-color: #fff; */
    background-image: url('../assest/Group\ 1272.png');
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .toggle-checkbox:checked + .toggle-label {
    background-color: #3a3a3a;
  }
  
  .toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(30px);
  }
  
  /* .text {
    margin-top: 10px;
    color: #666;
  } */
  
  /* Night mode styles */
  .dark-mode {
    background-color: #1a1a1a;
    color: #fff;
  }
  
  .dark-mode .text {
    color: #bbb;
  }
  