/* .footer{
    width: 100%;
} */
.icons img{
    margin-left: 2%;
}
@media (max-width: 768px) {
    .footerWeb {
        display: none !important;
    }

    .footer .copyright-text {
        font-size: 1.9rem;
        font-weight: 450;
        letter-spacing: 0em;
        display: flex;
        justify-content: center;
        text-align: center !important;
        color: #d9d9d9;
    }
    hr{
        color:white;
        background-color: white;
        /* border: 4px !important; */
    }
    .social-icon{
        width: 100%;
    }
}

@media (min-width: 768px) {
    .footerMobile {
        display: none !important;
    }

    .footer .copyright-text {
        font-size: 2rem !important;
        font-weight: 500;
        /* line-height: 50px; */
        margin: 0 !important;
        letter-spacing: 0em;
        text-align: left;
        color: #d9d9d9;
        display: inline-block;

    }

    .footer .copyright-text {
        display: flex;
        justify-content: space-between;
    }

    hr {
        color: white;
        border: .7px solid white !important;
        opacity: .3 !important;
        margin: 0px;
        padding: 0px;
        width: 100% !important;
    }
}