.main-content {
  /* height: 75vh; */
  width: 100vw;
  margin-top: 10% !important;
}
.carousel-home .carousel-indicators {
  display: none !important;
}

.shadow {
  /* display: grid; */
  border-radius: 40px;
  place-items: center;
  position: relative;
  background: black;
}

.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  /* background: linear-gradient(45deg,red,blue,green,yellow,#e11d74,black,#ffff00,#aa0000); */
  background: linear-gradient(45deg, rgba(226, 225, 224, 0.624), rgb(0, 0, 0));
  /* background: linear-gradient(45deg#ffff00 , rgb(221, 79, 79)); */
  background-size: 200%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  border-radius: 55px;
  animation: animate 10s linear infinite;
}

.shadow::after {
  filter: blur(1px);
}

.selected {
  /* background-color: red; */
  filter: drop-shadow(1px 1px 10px rgb(253, 210, 39));
  box-shadow: 1px 1px 10px rgba(137, 231, 247, 0.528);
  border-radius: 50%;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.main-text {
  width: 100%;
}

.main-text2 {
  width: 80%;
}

.main-text2 h2 {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
}

.main-text h2 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  color: #e8cb80;
}

/* .carousel {
    height: 95vh !important;
    width: 100% !important;
} */
.carousel-control-next-icon {
  /* display: flex; */
  display: none !important;
  margin-top: 20% !important;
  padding: 1.5vmax 1.5vmax;
  opacity: 1;
  background-image: url("../assest/icons/Group\ 256.png") !important;
}

.carousel-control-prev-icon {
  display: none !important;
  /* display: flex; */
  margin-top: 20% !important;
  padding: 1.5vmax 1.5vmax;
  background-image: url("../assest/icons/Group\ 255.png") !important;
}

.main-text2 p {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  opacity: 0.8;
}

.main-text p {
  font-size: 1vmax;
  font-weight: 400;
  line-height: 24px !important;
  letter-spacing: 0em;
  color: white;
  opacity: 0.8;
}

.service-box {
  justify-content: right !important;
  align-items: right;
  width: 80%;
}

.service-box .service-name {
  color: #e8cb80;
  /* font-size: 1.3rem; */
  font-weight: 500;
  /* line-height: 1.5vmax; */
  letter-spacing: 0em;
  text-align: left;
}   

.service-box h5 {
  font-size: 1.9rem;
  color: white;
  font-weight: 700;
  /* line-height: 1 !important; */
  /* letter-spacing: 0em; */
  margin-top: 2%;
  text-align: left;
}

.service-box .service-para {
  color: #ffffff;
  /* font-size: 1vmax; */
  /* font-weight: 400; */
  /* line-height: 22px !important; */
  letter-spacing: 0.02em;
  text-align: left;
  opacity: 0.8;
}

.technology-box {
  justify-content: center !important;
  align-items: center;
  width: 100%;
}

.technology-box .service-name {
  color: #e8cb80;
  /* font-size: 1.3rem; */
  font-weight: 500;
  /* line-height: 20px; */
  letter-spacing: 0em;
  text-align: left;
}

.technology-box .service-title {
  font-size: 1.9rem;
  color: white;
  font-weight: 800;
  line-height: 1 !important;
  letter-spacing: 0em;
  margin-top: 2%;
  text-align: left;
}

.technology-box .service-para {
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  opacity: 70%;
}

.flop-card-animation {
  /* margin: 100px 250px !important; */
  width: 60vw;
  margin: auto;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.flip-card {
  background-color: transparent;
  width: 12vmax;
  height: 16vmax;
  perspective: 900px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 1px solid;

  /* box-shadow: 0 6px 10px 0 rgba(255, 255, 255, 0.2); */
  border-radius: 52px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(
      180.53deg,
      rgba(217, 217, 217, 0) -111.12%,
      rgba(217, 217, 217, 0) 126.37%
    ),
    linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, rgba(0, 0, 0, 0) 100%);
  /* color: black; */
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.22) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  border-radius: 52px;
}

.flip-card-back {
  background: linear-gradient(180deg, #deb650 0%, #f2d38d 100%);
  color: black;
  transform: rotateY(180deg);
  border-radius: 52px;
  height: 100%;
}

.inner-img {
  align-items: center;
  position: relative;
  top: 30%;
}

.inner-content {
  align-items: center;
  position: relative;
  top: 30%;
}

.inner-content h1 {
  /* font-family: Inter; */
  font-size: 56px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
}

.inner-content p {
  /* font-family: Inter; */
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}

.inner-img img {
  width: 70px;
}

.get-in-touch {
  background: linear-gradient(
      277.42deg,
      rgba(41, 41, 41, 0.48) 11.4%,
      rgba(255, 255, 255, 0) 73.19%
    ),
    linear-gradient(125.94deg, #414141 -89.19%, rgba(52, 51, 51, 0.21) 51.68%);
  border-image-source: linear-gradient(
    277.42deg,
    rgba(80, 80, 80, 0.48) 11.4%,
    rgba(255, 255, 255, 0) 73.19%
  );
  padding: 0.2% 5%;
  opacity: 0.5199999809265137px;
}

.get-in-touch p {
  font-size: 1.4rem !important;
  color: white;
  font-weight: 500;
  line-height: 35px !important;
  /* letter-spacing: 0.05rem; */
}

.get-in-touch .inner-join {
  color: #e8cb80;
  font-size: 1.4rem;
}

.industries {
  /* margin-top: 5rem !important; */
}

.grid-container {
  /* overflow: hidden; */
  margin-left: 15% !important;
  position: relative;

  /* margin-bottom: 5rem !important; */

  /* align-content: center; */
}

.grid {
  display: grid;
  /* grid-template-columns: .5fr .5fr .5fr;
    grid-template-rows: .5fr 5fr 5fr; */
  max-width: 100%;
  height: 50vmax;
  gap: 8px;
  animation: resize 20s ease infinite both;
}

.item {
  --color2: 36;
  --color2: 76;
  --delay: 0ms;
  background-color: hsl(var(--color1), 100%, 60%);

  &:nth-child(4n - 2) {
    --delay: 1000ms;
  }

  &:nth-child(4n) {
    --delay: 2000ms;
  }

  &:nth-child(1) {
    background-image: url("../assest/main-icons/Mask\ group\ \(7\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-child(2) {
    background-image: url("../assest/main-icons/Mask\ group\ \(8\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-child(3) {
    background-image: url("../assest/main-icons/Mask\ group\ \(9\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-child(4) {
    background-image: url("../assest/main-icons/Mask\ group\ \(10\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-child(5) {
    background-image: url("../assest/main-icons/Mask\ group\ \(11\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-child(6) {
    background-image: url("../assest/main-icons/Mask\ group\ \(12\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-child(7) {
    background-image: url("../assest/main-icons/Mask\ group\ \(13\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-child(8) {
    background-image: url("../assest/main-icons/Mask\ group\ \(14\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-child(9) {
    background-image: url("../assest/main-icons/Mask\ group\ \(8\).png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  &:nth-child(10) {
    background-image: url("../assest/main-icons/Group\ 1000001890.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@keyframes resize {
  0% {
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
  }

  25% {
    grid-template-columns: 1fr 2fr 3fr;
    /* grid-template-rows: 1fr 2fr 3fr; */
  }

  50% {
    grid-template-columns: 1fr 5fr 1fr;
    /* grid-template-rows: 1fr 5fr 1fr; */
  }

  75% {
    grid-template-columns: 3fr 2fr 1fr;
    /* grid-template-rows: 3fr 2fr 1fr; */
  }

  100% {
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
  }
}

.bub-anim {
  text-align: end !important;
  position: relative;
  height: 30vh;
  /* border: 1px solid white; */
}

#background-wrap {
  bottom: 100%;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
}

/* KEYFRAMES */

@keyframes animateBubble {
  0% {
    margin-left: 90%;
    opacity: 0.1;
  }

  50% {
    margin-bottom: -0%;
    opacity: 1;
  }

  100% {
    margin-left: -0%;
    opacity: 1;
  }
}

@keyframes sideWays {
  0% {
    margin-top: 0%;
  }

  100% {
    margin-top: 25%;
  }
}

.x1 {
  animation: animateBubble 5s linear infinite,
    sideWays 2s ease-in infinite alternate;
  left: -5%;
  top: -30%;
  /* animation-delay: 0s; */
  position: absolute;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(1.2);
  /* background-image: url('../assest/main-icons/Group 1000005157.png'); */
  background-size: 25 25;
  /* box-shadow: inset 1px 2px 15px #fff !important; */
  background-position: center;
  transform: rotate(0deg);
  /* background-color: #6bbaf2; */
  /* background-repeat: no-repeat; */
}

.x2 {
  animation: animateBubble 5s linear infinite,
    sideWays 0.6s ease-in infinite alternate;
  left: -5%;
  top: -40%;
  bottom: 40%;
  animation-delay: 0.5s;
  position: absolute;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(1.1);
  /* background-image: url('../assest/icons/atom\ 1.png'); */
  background-size: 20 20;
  background-position: center !important;
  /* background: linear-gradient(179.13deg, rgba(255, 255, 255, 0.5) -38.48%, rgba(255, 255, 255, 0) 99.26%); */

  /* background-color: rgba(255, 255, 255, 0.5); */
  background-repeat: no-repeat;
}

.x3 {
  animation: animateBubble 5s linear infinite,
    sideWays 1s ease-in infinite alternate;
  left: -5%;
  top: -20%;
  animation-delay: 1.5s;
  position: absolute;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.9);
  /* background-image: url('../assest/icons/python\ 2.png'); */
  background-size: 20 20;
  background-position: center;
  /* background-color: #DEB650; */
  background-repeat: no-repeat;
}

.x4 {
  animation: animateBubble 5s linear infinite,
    sideWays 0.9s ease-in infinite alternate;
  left: -5%;
  top: -45%;
  animation-delay: 2s;
  position: absolute;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(1.3);
  /* background-image: url('../assest/icons/apple\ \(1\)\ 1.png'); */
  background-size: 20 20;
  background-position: center;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-repeat: no-repeat;
}

.x5 {
  animation: animateBubble 5s linear infinite,
    sideWays 0.6s ease-in infinite alternate;
  left: -5%;
  top: -35%;
  animation-delay: 2.5s;
  position: absolute;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(1.5);
  transform: scale(1);
  /* background-image: url('../assest/icons/android-logo\ 1.png'); */
  background-size: 20 20;
  background-position: center;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-repeat: no-repeat;
  margin: 2px;
}

.x7 {
  animation: animateBubble 5s linear infinite,
    sideWays 0.8s ease-in infinite alternate;
  left: -10%;
  top: -20%;
  animation-delay: 4s;
  position: absolute;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.8);
  /* background-image: url('../assest/icons/shopify\ \(1\)\ 1.png'); */
  background-size: 30 30;
  background-position: center;
  /* background-color: #DEB650; */
  background-repeat: no-repeat;
}
.x8 {
  animation: animateBubble 5s linear infinite,
    sideWays 0.7s ease-in infinite alternate;
  left: -5%;
  top: -20%;
  animation-delay: 4.2s;
  position: absolute;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(1);
  /* background-image: url('../assest/icons/shopify\ \(1\)\ 1.png'); */
  background-size: 20 20;
  background-position: center;
  /* background-color: #DEB650; */
  background-repeat: no-repeat;
}
.x9 {
  animation: animateBubble 5s linear infinite,
    sideWays 0.7s ease-in infinite alternate;
  left: -5%;
  top: -20%;
  animation-delay: 4.5s;
  position: absolute;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.9);
  /* background-image: url('../assest/icons/shopify\ \(1\)\ 1.png'); */
  background-size: 20 20;
  background-position: center;
  /* background-color: #DEB650; */
  background-repeat: no-repeat;
}

.bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* -webkit-box-shadow: 0 20px 30px rgba(210, 167, 55, 0.93);
      -moz-box-shadow: 0 20px 30px rgba(210, 167, 55, 0.93); */
  /* box-shadow: 0px 0px 15px rgb(255, 255, 255); */
  height: 100px;
  position: absolute;
  width: 100px;
  opacity: 0;
}

.ico-1 {
  position: absolute;
  top: 65%;
  left: 74%;
}

.ico-2 {
  position: absolute;
  top: 55%;
  left: -16%;
}

.ico-3 {
  position: absolute;
  top: 25%;
  left: 80%;
}

.ico-4 {
  position: absolute;
  top: 20%;
  left: -15%;
}

.indusries .row {
  height: 600px;
}

.box {
  width: 100%;
  max-height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.268);
  border-radius: 50px;
  padding: 20px;
}

.scrolling-area {
  max-width: 250px;
  max-height: 500px;
  overflow: auto;
  padding: 1rem;
  background: transparent;
  direction: rtl;
  scrollbar-width: thin;
  scrollbar-color: gold;
}

.scrolling-area::-webkit-scrollbar {
  width: 8px;
}

.scrolling-area::-webkit-scrollbar-thumb {
  background-color: #fbdc94;
  border-radius: 4px;
}

.scrolling-element-inside {
  direction: ltr;
}

.scrolling-element-inside img {
  cursor: pointer;
}

/* .scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
} */

/* Define the scrollbar thumb color on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Replace with your desired color */
}
.see-button{
    padding: .6rem 2rem !important;
}
.indus-button {
  width: 100%;
  min-width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 869px) {
  .getin-button-in {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
@media (max-width: 869px) {
  .getin-button-in {
    width: 100%;
    /* height: 50px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
}

.getin-button-in .see-button {
  /* width: 35%; */
  /* margin: 10% 0px !important; */
  padding: 0.2rem 1.4rem;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(
    176deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.getin-button {
  width: 100%;
  /* height: 50px; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.getin-button-w {
  width: 100%;
  /* height: 50px; */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999 !important;
}

.getin-button .see-button {
  /* width: 35%; */
  /* margin: 10% 0px !important; */
  padding: 0.2rem 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(
    176deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.getin-button .see-button:hover {
  /* width: 35%; */
  /* margin: 10% 0px !important; */
  padding: 0.2rem 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(
    280deg,
    #dfbb5f95 -131.4%,
    rgba(30, 27, 22, 0) 104.63%
  );
  /* border:0px 1px 0px 0px solid #e8cb80; */
  transition: 0.5s linear;
  border: 0.5px solid #e8cb80;
}
.getin-button-in .see-button:hover {
  /* width: 35%; */
  /* margin: 10% 0px !important; */
  padding: 0.2rem 1.4rem;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(
    280deg,
    #dfbb5f95 -131.4%,
    rgba(30, 27, 22, 0) 104.63%
  );
  /* border:0px 1px 0px 0px solid #e8cb80; */
  transition: 0.5s linear;
  border: 0.5px solid #e8cb80;
}
.indus-button .see-button:hover {
  /* width: 35%; */
  /* margin: 10% 0px !important; */
  padding: 0.2rem 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(
    280deg,
    #dfbb5f95 -131.4%,
    rgba(30, 27, 22, 0) 104.63%
  );
  /* border:0px 1px 0px 0px solid #e8cb80; */
  transition: 0.5s linear;
  border: 0.5px solid #e8cb80;
}
.getin-button-w .see-button {
  /* width: 35%; */
  /* margin: 10% 0px !important; */
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(
    176deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.indus-button .see-button {
  /* width: 12vmax; */
  /* margin: 10% 0px !important; */
  padding: 0.2rem 1.5vmax;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(
    176deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.see-button a {
  color: #fae29e !important;
  /* font-family: 'Poppins', sans-serif !important; */
  /* font-size: 1.5rem !important; */
  font-style: normal !important;
  font-weight: 500;
  line-height: 50px !important;
  text-decoration: none;
  /* 263.158% */
  text-transform: capitalize !important;
}

.seemore_btn {
  cursor: pointer;
}

.services-section {
  overflow: hidden;
  /* height: 70vh; */
  margin-top: 2% !important;
}

.btn-section {
  max-width: 100%;
}

.services-button {
  width: 16vmax;
  margin: 10% 0px !important;
  /* padding: 10px 22px; */
  padding: 2% 6%;
  border-radius: 25px;
  cursor: pointer;
  background: linear-gradient(
    176deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.services-button a {
  color: #fae29e !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 1.1vmax !important;
  font-style: normal !important;
  font-weight: 530 !important;
  line-height: 50px !important;
  text-decoration: none;
  /* 263.158% */
  text-transform: capitalize !important;
}

.testimonial {
  position: relative;
  height: 70vh;
  /* min-width: 100vw; */
  /* border: 1px solid white; */
}

.testimonial .avatars {
  cursor: pointer;
  /* border: 1px solid white; */
}

.testimonial .avatars :nth-child(1) {
  position: absolute;
  height: 22%;
  top: 30%;
  left: 18%;
}

.testimonial .avatars :nth-child(2) {
  position: absolute;
  height: 10%;
  top: 7%;
  left: 28%;
}

.testimonial .avatars :nth-child(3) {
  position: absolute;
  height: 12%;
  top: 65%;
  left: 22%;
}

.testimonial .avatars :nth-child(4) {
  position: absolute;
  height: 20%;
  top: 75%;
  left: 42%;
}

.testimonial .avatars :nth-child(5) {
  position: absolute;
  height: 15%;
  top: 10%;
  right: 25%;
}

.testimonial .avatars :nth-child(6) {
  position: absolute;
  height: 11%;
  bottom: 35%;
  right: 22%;
}

.testimonial .avatars :nth-child(7) {
  position: absolute;
  height: 5%;
  top: 35%;
  right: 22%;
}

.testimonial .avatars :nth-child(8) {
  position: absolute;
  height: 6%;
  top: 20%;
  left: 16%;
}

.testimonial .avatars :nth-child(9) {
  position: absolute;
  height: 6%;
  top: 30%;
  left: 30%;
}

.testimonial .avatars :nth-child(10) {
  position: absolute;
  height: 6%;
  top: 20%;
  right: 35%;
}

.testimonial .avatars :nth-child(11) {
  bottom: 18%;
  height: 8%;
  position: absolute;
  right: 60%;
}

.testimonial .avatars :nth-child(12) {
  position: absolute;
  height: 6%;
  bottom: 16%;
  right: 40%;
}
.testimonial .avatars :nth-child(13) {
  position: absolute;
  height: 10%;
  bottom: 17%;
  right: 30%;
}
.testimonial .avatars div {
  cursor: pointer;
  /* border: 1px solid white; */
  width: 70px;
  height: 70px !important;
  border-radius: 50%;
  flex-shrink: 0;
  color: #f3c655 !important;
  font-weight: 500;
  /* background-image: radial-gradient(circle at center, #b7b6b6e1, #f3c655); */
  box-shadow: 0px 0px 10px #f7de9f;
  /* border: 1px solid #f3c655 ; */
}
.testimonial .avatars .active {
  color: #181818 !important;
  background-image: radial-gradient(circle at center, #ffffffe1, #f3c655);
  box-shadow: 0px 0px 15px #f3c655;
}
.testimonial .testimonial-text {
  margin: 0;
  width: 38%;
  position: absolute;
  top: 40%;
  left: 50%;
  height: 250px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.testimonial .testimonial-text h2 {
  color: #e8cb80;
  font-size: 22px;
}

.testimonial .testimonial-text h5 {
  color: #fff;
  text-align: center;
  /* font-family: Inter; */
  font-size: 1.8rem;
  /* font-style: normal; */
  font-weight: 500;
  line-height: 43px;
  /* 82.692% */
  text-transform: capitalize;
}

.testimonial .testimonial-text p {
  opacity: 0.7;
  color: #fff;
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  /* 143.75% */
}

.service-container {
  position: relative;
  height: 66vh;
  width: 100%;
  /* border: 1px solid rgba(255, 255, 255, 0.308) !important; */
  border-radius: 58px;
}

.internal-img {
  position: absolute !important;
  top: 5%;
  left: 8%;
  transform: translate(50%-50%);
}

.services-icons :nth-child(1) {
  position: absolute;
  bottom: 8%;
  left: -6%;
  width: 11%;
  cursor: pointer;
}

.services-icons :nth-child(2) {
  position: absolute;
  bottom: 23%;
  left: -6%;
  width: 11%;
  cursor: pointer;
}

.services-icons :nth-child(3) {
  position: absolute;
  bottom: 38%;
  left: -6%;
  width: 11%;
  cursor: pointer;
}

.services-icons :nth-child(4) {
  position: absolute;
  bottom: 53%;
  left: -6%;
  width: 11%;
  cursor: pointer;
}

.services-icons :nth-child(5) {
  position: absolute;
  bottom: 68%;
  left: -6%;
  width: 11%;
  cursor: pointer;
}

.services-icons :nth-child(6) {
  position: absolute;
  bottom: 83%;
  left: -6%;
  width: 11%;
  cursor: pointer;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.7s;

  color: red;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: rotateY(180deg);
    /* perspective: 100px; */
  }

  5% {
    opacity: 0;
    transform: rotateY(180deg);
    /* perspective: 100px; */
  }

  100% {
    opacity: 1;
  }
}

.fade-out {
  opacity: 1;
  animation-name: fadeDownOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  color: blue;
}

@keyframes fadeDownOpacity {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}

.barcontainer {
  background-color: #181818;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  bottom: 0%;
  /* margin-left: 50px; */
  width: 10px;
  height: 100%;
  float: left;
}

.bar {
  background-color: #9bc9c7;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  box-sizing: border-box;
  animation: grow 10s ease-out forwards;
  transform-origin: top;
}

@keyframes grow {
  from {
    transform: scaleY(0);
  }
}

.avatars div,
.avatars img,
img.selected div.selected {
  animation: floating 4s infinite ease-in-out !important;
}

@keyframes floating {
  0% {
    transform: translateY(0);
    transform: translateX(0);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
    transform: translateX(0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(200ms);
  }

  50% {
    opacity: 0.5;
    transform: translate(0ms);
  }

  100% {
    opacity: 1;
    transform: translate(0ms);
  }
}

.fade-in-out {
  animation: fadeInOut 4s ease;
}

/* For the description animation */
@keyframes slideIn {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }

  50% {
    transform: scale(1, 1);
    opacity: 0.5;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 2s linear;
  transition: 10s;
}

/* :root {
    --blue: transparent;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .3;
    width: 100%;
    height: 100vh;
    z-index: -10;
}

section .box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
}

section .box.box1 {
    background-color: var(--yellow);
}

section .box.box2 {
    background-color: var(--blue);
    clip-path: circle(150px at 100% 100%);
}

section h2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 12em;
}

section .box.box1 h2 {
    color: transparent;
    -webkit-text-stroke: 3px #333;
}

section .box.box2 h2 {
    color: transparent;
    -webkit-text-stroke: 3px #333;
} */

.input-range {
  /* -webkit-appearance: none; */
  height: 500px;
  width: 40px;
  border-radius: 5px;
  background: #ccc;
  transform: rotate(180deg);
  outline: none;
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  accent-color: gold;
}

.side-img {
  height: 500px;
  overflow: hidden;
  overflow-y: auto;
}

.input-range::-moz-range-track {
  background: #ff0000;
  border: 0;
}

.input-range::-webkit-slider-thumb {
  /* appearance: none; */
  background-color: red !important;
  font-size: 20px;
}

.input-range::-moz-focus-inner {
  border: 0;
}

@media (max-width: 869px) {
  .main-text {
    width: 100%;
    margin-top: 15%;
    /* text-align: center; */
  }
  .main-text h2 {
    width: 100%;
    margin-top: 15%;
    /* text-align: center; */
  }
  .service-box {
    width: 100%;
  }
  .get-in-touch p {
    /* font-size: 1.2rem !important; */
  }
  .main-content {
    /* height: 75vh; */
    width: 100vw;
    margin-top: 0px !important;
  }
  .services-section {
    margin-top: 0px !important;
  }
  .grid {
    width: 100% !important;
    margin: 0 auto;
    max-width: 85%;
  }
}
